<h2>Group Detail</h2>
<!-- put edit switch here -->

<form>
  <input type="text" name="groupName" ng-model="group.groupName">
  <input type="text" name="groupDescription" ng-model="group.groupDescription">
  <input type="submit" name="">
</form>

<h3>Current Trophies Available to this Group</h3>
<ul class="list" ng-repeat="trophy in groupTrophies">
  <a ng-click="addTrophy()">  
    <li>
      <my-trophy></my-trophy>
      <input type="button" value="remove from group">
    </li>
  </a>
</ul>

<h3>Trophies you can add to this Group</h3>
<ul class="list" ng-repeat="trophy in notGroupTrophies">  
    <li>
      <my-trophy></my-trophy>
      <input type="button" value="add to group" ng-click="addTrophy(trophy._id, trophy)">
  </a>
</ul>

<h3>Create New Trophy</h3>
<form>
  <input type="text" name="trophyName" ng-model="trophyName">
  <input type="text" name="trophyDescription" ng-model="trophyDescription">
  <input type="submit" ng-click="createTrophy()">
</form>
