<div >
  <p>loading from the groups</p>
</div>

<div>
  <h2>Groups that you can join</h2>
    <ul class="list" ng-repeat="group in groups">
    <a ng-click="joinGroup(group._id)">
      <li>
          {{ group.groupName }}: {{ group.groupDescription }}
      </li>
    </a>
</div>

<div>
  <h2>Create a Group</h2>
  <form ng-Submit="createGroup()">
    <input type="text" ng-model="groupName" placeholder="Group Name">  
    <input type="text" ng-model="groupDescription" placeholder="short description of your group"> 
    <input type="submit">
  </form>
</div>