<div class="homeEntry">
  <h3>Hi {{ currentUserEmail }}, welcome to your trophy case</h3>
</div>

<myTrophy></myTrophy>

<div class="personalCase">
  <h3>Here are the groups you have joined, and the trophies you have earned!</h3>
    <div ng-if="groups.length == 0">
      <p>You haven't joined any groups yet :-(</p>
    </div>
    <ul class="list" ng-repeat="group in groups">
      <li>
        {{ group.groupName }}
        <ul ng-repeat="trophies in group.groupTrophies">
          <li ng-if="trophies.name">
            {{ trophies.name }}
            <button ng-click="removeTrophy(trophies._id)">Remove</button>
          </li>
        </ul>
      </li>
  </ul>
</div>

