<div class="homeEntry">
  <h3>Hi {{ currentUserEmail }}, welcome to your trophy case</h3>
</div>
<!-- <div class="personalCase">
  <h3>Here are the trophies you have earned!</h3>
    <div ng-if="trophies.length == 0">
      <p>You haven't earned any trophies yet :-(</p>
    </div>
    <ul class="list" ng-repeat="trophy in trophies">
      <li>
        <img src="img/trophy.png" height=50 width=50>
        {{ trophy.name }} is {{ trophy.description }}
      </li>
  </ul>
</div> -->

<div class="personalCase">
  <h3>Here are the groups you have joined!</h3>
    <div ng-if="groups.length == 0">
      <p>You haven't joined any groups yet :-(</p>
    </div>
    <ul class="list" ng-repeat="group in groups">
      <li>
        {{ group.groupName }}
        <ul ng-repeat="trophies in group.groupTrophies">
          <li ng-if="trophies.name">{{ trophies.name }}</li>
        </ul>
      </li>
  </ul>
</div>

